.carousel-imgs{
  height: 400px;
  width : 810px;
}
.action{
  font-size: 30px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}